project:
  type: website
  output-dir: docs

website:
  title: "Emmanuel Pilliat"
  sidebar:
    - id: "home"
      title: "Home"
      logo: "images/avatar_oct_2021.jpg"
    - id: "teaching"
      title: "Teaching"
      logo: ""
      style: floating
      collapse-level: 1
      contents:
        - section: "Hypothesis Testing"
          contents:
            - text: "Testing Models"
              href: teaching/hypothesis_testing/lectures/testing_models.qmd
            - text: "Gaussian Populations"
              href: teaching/hypothesis_testing/lectures/gaussian_populations.qmd
            - text: "Goodness of Fit, Homogeneity"
              href: teaching/hypothesis_testing/lectures/goodness_of_fit_chi2.qmd
            - text: "Dependency"
              href: teaching/hypothesis_testing/lectures/dependency.qmd
        - section: "Probability"
          contents:
            - text: "Density and Likelihood"
              href: teaching/probability/density_likelihood.qmd
        - section: "Time Series"
    - id: "coding"
      title: "Coding"
      logo: ""
      style: floating
      collapse-level: 1
      contents:
        - section: "Parallel Computing"
          contents:
            - text: "Introduction to GPU Architecture"
              href: "coding/parallel_computing_lectures/gpu_lecture.qmd"
  navbar:
    left:
      - index.qmd
      - teaching/teaching.qmd
      - coding/coding.qmd
    right:
      - icon: github
        href: https://github.com/epilliat
      - icon: linkedin
        href: https://fr.linkedin.com/in/emmanuel-pilliat-18ab2b180

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true