/*-- scss:defaults --*/
$code-bg: transparent;
$code-color: #d2a8ff;

// Julia REPL prompt styling
$julia-green: #389826;
$julia-purple: #9558b2;
$julia-red: #cb3c33;

/*-- scss:rules --*/

/* Override prompt color in Julia REPL */
.sourceCode.julia-repl>code>span.kw:first-of-type,
.julia-repl .kw {
    color: #389826 !important;
    font-weight: bold;
}